---
import Card from "@components/Card.astro";
import Layout from "@layouts/Layout.astro";

const response = await fetch(import.meta.env.PUBLIC_API_URL);
const datas = await response.json();

const totalData = datas.getData.data.length;
---

<Layout title="Schedule Em">
  <div>
    <div class="fixed bg-[#F3F5F7] w-full top-0 py-3 overflow-hidden">
      <h1 class="font-bold text-xl">Hai, Dimah👋</h1>
    </div>
    <h1 class="font-bold text-xl pt-6">Siap berkegiatan!</h1>
    <div class="mt-5 font-semibold">
      <p>Schedule</p>
      <ul>
        {
          datas.getData.data.map((hari) => (
            <li>
              <Card
                href={`/detail/${hari.id}`}
                title={hari.nama_hari}
                description="Jadwal Hari ini..."
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
