---
const response = await fetch('http://localhost:3221/api/hari');
const datas = await response.json();
console.log(datas)
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Hari</title>
</head>
<body>
    <h1>Daftar Hari</h1>
    <ul>
        {datas.getData.data.map((hari) => (
            <li>
                <a href={`/detail/${hari.id}`}>{hari.nama_hari}</a>
            </li>
        ))}
    </ul>
</body>
</html>