---
import Card from "@components/Card.astro"
import Layout from "@layouts/Layout.astro";

const response = await fetch(import.meta.env.PUBLIC_API_URL);
const datas = await response.json();

const totalData = datas.getData.data.length;
---
    <Layout title='Jadwal Hari'>
        <div>
            <h1 class="font-bold text-2xl">Hai, Dimah👋</h1>
            <h1 class="font-bold text-2xl">Siap berkegiatan!</h1>
            <div class="mt-5 font-semibold text-lg">
                <p>Schedule</p>
                <h1 class="text-2xl font-bold mb-4">Jumlah Hari: {totalData}</h1>
                <ul >
                    {datas.getData.data.map((hari) => (
                        <li>
                            <Card href={`/detail/${hari.id}`} title={hari.nama_hari} description="Jadwal Hari ini..." />
                        </li>
                    ))}
                </ul>
            </div>
        </div>
    </Layout>