---
import Card from "@components/Card.astro";
import Layout from "@layouts/Layout.astro";

const response = await fetch(import.meta.env.PUBLIC_API_URL);
const datas = await response.json();

const totalData = datas.getData.data.length;
---

<Layout title="Schedule Em">
  <div>
    <header class="flex justify-between items-center mb-3">
      <p
        class="bg-slate-50 text-gray-900 rounded-full w-10 p-2 text-center shadow-lg"
      >
        D
      </p>
      <p class="text-lg font-semibold">Schedule Em</p>
      <p
        class="bg-slate-50 text-gray-900 rounded-full w-10 p-2 text-center shadow-lg"
      >
        A
      </p>
    </header>
    <main class="bg-[#FEEB97] p-6 rounded-xl my-5 shadow-lg">
      <p class="mb-5 text-lg font-semibold">Scedule Em</p>
      <h1 class="font-bold text-xl">Hai, Dimah👋</h1>
      <h1 class="font-bold text-xl">Siap berkegiatan!</h1>
    </main>
    <section class="mt-5 font-semibold">
      <p>Schedule</p>
      <ul>
        {
          datas.getData.data.map((hari) => (
            <li>
              <Card
                href={`/detail/${hari.id}`}
                title={hari.nama_hari}
                description="Jadwal Hari ini..."
              />
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>
