---

---

<div class="fixed bottom-0 bg-white shadow w-full overflow-hidden">
  <nav class="flex items-center justify-between p-4 mx-5">
    <a href="/" class="flex items-center">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path d="M3 12l9-9 9 9L12 21L3 12z"></path>
      </svg>
      <span class="ml-2 font-medium text-sm">Home</span>
    </a>
    <a href="/" class="flex items-center">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path d="M3 12l9-9 9 9L12 21L3 12z"></path>
      </svg>
      <span class="ml-2 font-medium text-sm">Home</span>
    </a>
  </nav>
</div>
