---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<li class="bg-[#DCFFE1] bg-opacity-80 rounded-lg shadow-md overflow-hidden">
	<a href={href} class="block text-[#0E0D0D] text-lg p-6 transition-colors duration-500 ease-in-out hover:text-[#00A24A] focus:text-[#00A24A]  focus:outline-none">
	  <h2 class="flex items-center justify-between">
		{title}
		<span class="text-xl">&rarr;</span>
	  </h2>
	</a>
  </li>
