---
interface Props {
	title: string;
	href: string;
	description: string;
}

const { href, title, description } = Astro.props;
---

<div class="max-w-sm rounded overflow-hidden shadow-lg my-2 p-6 bg-[#ceebc7] border-2 border-solid border-slate-950">
	<h2 class="font-bold text-xl">{title}</h2>
	<p class="text-gray-700 text-base">{description}</p>
	<a href={href} class="text-blue-500 hover:text-blue-700 mt-4 inline-block bg-blue-400">Read More</a>
  </div>
,